apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-app-deployment
  #Jai rajouter le namespace pour le deploiement dans chaque fichier
  # et je lai utiliser a la fin de chaque commande comme vous m'avez conseiller sinon sa marchais pas
  namespace: etudiant37-ns 
  labels:
    app: todo-app
spec:
  replicas: 2 
  selector:
    matchLabels:
      app: todo-app
  template:
    metadata:
      labels:
        app: todo-app
    spec:
      containers:
        - name: api
          image: ghcr.io/ardaozanyildiz/maintenancetp4arda:697e64d
          ports:
            - containerPort: 8080
          env:
            - name: DB_HOST
              value: mariadb-service 
            - name: DB_USER
              value: etudiant37
            - name: DB_NAME
              value: etudiant37
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: DB_PASSWORD
