apiVersion: v1
kind: Service
metadata:
  name: todo-app-service
  namespace: etudiant37-ns 
spec:
  selector:
    app: todo-app
  type: NodePort
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080